<!-- New Modal -->
<div class="modal fade" id="newSLModal" tabindex="-1" role="dialog" aria-labelledby="newSLModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSLModalLabel">Add a New Storage Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'storage_locations/form' %>
    </div>
  </div>
</div>