<div class="col-12 col-sm-12 col-md-12 col-lg-12 container container-white">
    <% if !@storage_areas.any? %>
        <div class="alert alert-secondary" role="alert">There are no storage areas yet. 
             Add a new area from the navigation menu.</br></br>
             <%= image_tag("MainNav.png", :alt => "See navbar", :class=> "img-fluid nav-png") %>
             <div class="mobile-nav-png">
                 <%= image_tag("MobileMainNav.png", :alt => "See navbar", :class=> "img-fluid") %></br>
                 Then
                 <%= image_tag("MobileMainMenu.png", :alt => "See navbar", :class=> "img-fluid") %>
             </div>
        </div>
    <% else %>
        <h1> Storage Areas </h1><br/> 
        <% @storage_areas.each_slice(3) do |storage_areas| %> 
            <div class="row">
                <% storage_areas.each do |storage_area| %>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <h3><%= link_to storage_area.Name, storage_area_path(storage_area.id), :class => "btn btn-info btn-lg btn-block" %></h3></br>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>